img {
    width:100px;
    height: auto;
    
}

img.saved-images {
    height: 250px;
    width: auto;
    border: 36px;
    margin: auto;
    padding: 10px;
  
    
}

#gallery-grid-div div {
    
    width: auto;
    height: auto;
    padding: 10px;
    background-size: cover;
    vertical-align: middle;
    

    
}

.grid {
    grid: auto-flow / 1fr 1fr 1fr;
}

div.image-container {
    vertical-align: middle;
    align-items: center;
    padding: 10px;
    
}